<div>
  <h2>Register</h2>
  <form name="form">
      <div>
          <label for="firstName">First Name</label>
          <input style="width:500px;" class="form-control" type="text"  name="firstName" [(ngModel)]="firstName" />
      </div>
      <div>
          <label for="lastName">Last Name</label>
          <input style="width:500px;" class="form-control" type="text" name="lastName" [(ngModel)]="lastName"/>

      </div>
      <div>
          <label for="username">Username</label>
          <input style="width:500px;" class="form-control" type="text" name="username" [(ngModel)]="username"/>
      </div>
      <div>
          <label for="password">Password</label>
          <input style="width:500px;" class="form-control" type="password" name="password" [(ngModel)]="password" />
      </div>
      <br>
      <div >
          <button class="btn btn-success" (click)='register()'>Register</button>
          <button class="btn btn-success" (click)='cancel()'>Cancel</button>
      </div>
  </form>
</div>
